@model ShopLogin.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Details</h2>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Dane</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Imie</td>
            <td>@Model.FirstName</td>
        </tr>

        <tr>
            <td>Nazwisko</td>
            <td>@Model.LastName</td>
        </tr>

        <tr>
            <td>Telefon</td>
            <td>@Model.PhoneNumber</td>
        </tr>

    </tbody>

</table>