@model ShopLogin.Models.ModifyDataViewModel
@{
    ViewBag.Title = "Zaktualizuj dane";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />



@using (Html.BeginForm("ModifyData", "Customers"))
{
    <div class="card border-dark mb-3" style="max-width:33rem; margin-left:280px;text-align:center">
        <div class="card-header"><h2>Zaktualizuj swoje dane</h2></div>
        <div class="card-body">

            <p class="card-text">
                <div class="form-group">

                    <table style=" margin-left:30px;margin-right:30px">

                        <tr>
                            <td><span style="font-size: 20px">Dane kontaktowe</span><br /><br /></td>
                            <td><div style="width:70px"></div></td>
                            <td><span style="font-size: 20px">Dane do wysyłki</span><br /><br /></td>
                        <tr />

                        <tr>

                            <td>
                                <input type="text" class="form-control" value=@Model.Login name="Login" id="Login">
                                <br />
                            </td>
                            <td><div style="width:70px"></div></td>
                            <td>
                                <input type="text" class="form-control" value=@Model.Street name="Street" id="Street">
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" value=@Model.FirstName name="FirstName" id="FirstName">
                                <br />
                            </td>
                            <td><div style="width:70px"></div></td>
                            <td>
                                <input type="text" class="form-control" value=@Model.Building name="Building" id="Building">
                                <br />
                            </td>


                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" value=@Model.LastName name="LastName" id="LastName">
                                <br />
                            </td>
                            <td><div style="width:70px"></div></td>
                            <td>
                                <input type="text" class="form-control" value=@Model.Apartment name="Apartment" id="Apartment">
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" value=@Model.Email name="Email" id="Email">
                                <br />
                            </td>
                            <td><div style="width:70px"></div></td>
                            <td>
                                <input type="text" class="form-control" value=@Model.City name="City" id="City">
                                <br />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="text" class="form-control" value=@Model.PhoneNumber name="PhoneNumber" id="PhoneNumber">
                                <br />

                            </td>
                            <td><div style="width:70px"></div></td>
                            <td>
                                <input type="text" class="form-control" value=@Model.PostCode name="PostCode" id="PostCode">
                                <br />
                            </td>
                        </tr>                     
                    </table>
                    <div style="text-align: center">
                        <br />

                        <button type="submit" class="btn btn-warning btn-lg">Zaktualizuj dane</button>

                    </div>
                </div>
            </p>
        </div>
    </div>

}

