@model IEnumerable<WebApplication.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkty</h2>
@if (!Model.Any())
{
    <p>Nie udało się wczytać produktów.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</td>
                    <td>@product.Category.Name</td>
                    <td>@Html.ActionLink("Dodaj do koszyka", "", "", null, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
